@model Product

@{
    ViewData["Title"] = "Arctic Mondays";
}

<h1>@Model.Name</h1>
<p>@Model.Description</p>
<p>Цена: <strong>@Model.Price</strong></p>
<form action="@Url.Action("AddItem", "Order")" method="post">
    <input type="hidden" name="productId" value="@Model.Id" />
    <button class="btn btn-success" type="submit">В корзину</button>
</form>

